html, body {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0;
	background-image: linear-gradient(180deg, #e6ebff 0%, #f5f5f5 20%, #f5f5f5 80%, #e6ebff 100%);
	background-attachment: fixed;
	-webkit-font-smoothing: antialiased;
}

/* --- global */

h1 {
	font-size: 60px;
}
h2 {
	font-size: 40px;
}
h3 {
	font-size: 35px;
}
p {
	font-size: 35px;
	white-space: pre-wrap;
}

label {
	font-size: 40px;
}

input {
	font-size: 50px;
	border: 4px solid #c7d5eb;
	border-radius: 25px;
	padding: 12px 16px;
}

textarea {
	font-size: 40px;
	height: 320px;
	padding: 12px 16px;
	border-radius: 25px;
	border: 4px solid #c7d5eb;
}

ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
	display: flex;
	align-items: center;
	flex-direction: column;
}

a {
	font-size: 40px;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 25px;
}

video {
	border-radius: 25px;
}

iframe {
	width: 100%;
	border-radius: 25px;
	border: 4px solid transparent;
	aspect-ratio: 16/9;
}

/* --- class */

.fm-ic1 {
	font-size: 120px;
	border-radius: 50px;
	padding: 0px 40px;
	color: white;
}
.it-ic1 {
	font-size: 140px;
	border-radius: 50px;
	padding: 0px 40px;
}

.it-fc1 {
	width: 95%;
	box-sizing: border-box;
	word-break: break-word;
}

/* --- id */

#it-ireloadf span {
	display: inline-block;
	transform: translateY(-20px);
	font-size: 120px;
}
